.App-footer {
  background: $color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 142px 22px 142px;
  position: relative;

  &-text {
    margin: 0 auto;
  }

  &-icons {
    display: flex;
    gap: 20px;

    & a {
      display: flex;
      align-items: center;
    }

    & img {
      width: 30px;
      height: 30px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}