
.home-form {

  background-image: url("../../assets/images/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  display: flex;
  justify-content: end;
  padding-right: 120px;
  padding-top: 200px;

  &-right {
    display: flex;
    flex-direction: column;
    height: 1026px;
    & form {
      display: flex;
      flex-direction: column;

    }
  }
}

form {
  opacity: 1;
}