@import "settings/_normalize.scss";
@import "settings/_fonts.scss";
@import "settings/_colors.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import 'components/login.scss';

// HOME
@import "components/home.scss";
@import "components/_three_columns.scss";

body {
  font-family: $font-base;
  font-size: $base-font-size;
  background: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $color-text;
  background: lightblue;
}

.container {
  width: 1900px;
  background : $color-background;
}

a {
  text-decoration: none;
  color: $color-text;
}

li {
  list-style: none;
}

.home-start {
  background: cornflowerblue;
}

.home-four_steps {
  background: cornflowerblue;
}

.home-about_us {
  background: cornflowerblue;
}


.home-help{
  background: cornflowerblue;
}

.home-form {
  background: cornflowerblue;
}

