@import "settings/_normalize.scss";
@import "settings/_fonts.scss";
@import "settings/_colors.scss";
@import "components/footer.scss";


body {
  font-family: $font-base;
  font-size: $base-font-size;
  background: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.App-header {
  background: $color-background;
  display: flex;
  justify-content: right;
  & nav{
    display: flex;
    gap: 5px;
  }
}



.container {
  width: 1920px;
  background : $color-yellow;

}

li {
  list-style: none;
}